<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__content wrap">
            <a href="#">
                <img src="logo.svg" alt="logo" class="logo">
            </a>
            <nav>
                <ul class="nav__list">
                    <li class="nav_item"><a href="#main">Home</a></li>
                    <li class="nav_item"><a href="#">About</a></li>
                    <li class="nav_item"><a href="#">Shop</a></li>
                    <li class="nav_item"><a href="#">Page</a></li>
                    <li class="nav_item"><a href="#">Blog</a></li>
                    <li class="nav_item"><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="hrader__icon">
                <a href="#"><img src="search.svg" alt="search"></a>
                <a href="#"><img src="person.svg" alt="profil"></a>
                <a href="#"><img src="cart.svg" alt="cart"></a>
            </div>
        </div>
    </header>
    <div class="hero">
        <div class="hero__content wrap">
            <div class="hero__info">
                <p class="subdesc">SUMMER SALE IS ON</p>
                <h1 class="title title_lg">Make Your Fashion More Perfect</h1>
                <p class="desc desc_lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="#" class="button">Explore More</a>
            </div>
            <div class="hero__img">
                <img src="hero.png" alt="hero">
            </div>
        </div>
    </div>
    <div class="advantage">
        <div class="advantage__content wrap">
            <div class="advantage__card">
                <img src="free.svg" alt="train">
                <h3 class="title title_lt">Free Shipping</h3>
                <p class="desc desc_md">Ut enim ad minim veniam liquip ami tomader</p>
            </div>
            <div class="advantage__card">
                <img src="secure.svg" alt="card">
                <h3 class="title title_lt">Secure Payments</h3>
                <p class="desc desc_md">Eonim ad minim veniam liquip tomader</p>
            </div>
            <div class="advantage__card">
                <img src="easy.svg" alt="cube">
                <h3 class="title title_lt">Easy Returns</h3>
                <p class="desc desc_md">Be enim ad minim veniam liquipa ami tomader</p>
            </div>
            <div class="advantage__card">
                <img src="support.svg" alt="time">
                <h3 class="title title_lt">24/7 Support</h3>
                <p class="desc desc_md">Ut enim ad minim veniam liquip ami tomader</p>
            </div>
        </div>
    </div>
    <div class="latest">
        <div class="latest__content wrap">
            <h2 class="title title_lg">Latest Arrival</h2>
            <p class="desc desc_lg">Showing our latest arrival on this summer</p>
            <div class="latest__cards">
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <div class="promotion">
        <div class="promotion__content wrap">
            <div class="promotion__img">
                <img src="promotion.png" alt="promotion">
            </div>
            <div class="promotion__info">
                <p class="subdesc">Featured Product</p>
                <h2 class="title title_lg">Ulina Fashionable Jeans</h2>
                <p class="desc desc_lg">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa uis aute irure dolor</p>
                <span>
                    <div class="promotion__price">
                        <p class="price price_lg">$199</p>
                        <p class="price_sale">$399</p>
                    </div>
                    <a href="#" class="button button_lg">BUY NOW</a>
                </span>
                <div class="title title_md">Ends in</div>
                <div class="promotion__time">
                    <div class="time_line">
                        <span><p class="time">11</p>:</span>
                        <p class="desc">DAYS</p>
                    </div>
                    <div class="time_line">
                        <span><p class="time">11</p>:</span>
                        <p class="desc">HRS</p>
                    </div>
                    <div class="time_line">
                        <span><p class="time">11</p>:</span>
                        <p class="desc">MINS</p>
                    </div>
                    <div class="time_line">
                        <p class="time">11</p>
                        <p class="desc">SECS</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="product">
        <div class="product__content wrap">
            <h2 class="title title_lg">Featured Product</h2>
            <span>
                <p class="desc desc_lg">Showing our latest arrival on this summer</p>
                <div class="product__categoris">
                    <a href="" class="product__category">Men</a>
                    <a href="" class="product__category">Women</a>
                    <a href="" class="product__category">Kids</a>
                    <a href="" class="product__category">Accessories</a>
                </div>
            </span>
            <div class="product__cards">
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
                <div class="product__card">
                    <div class="tag">
                        <div class="tag_sale">TOP</div>
                        <div class="tag_hot">SALE</div>
                    </div>
                    <img src="product.jpg" alt="product">
                    <div class="product-card__reviews">
                        <div class="product-card__stars">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                            <img src="star_t.svg" alt="star_true">
                        </div>
                        <p class="desc desc_md">4 Reviews</p>
                    </div>
                    <h3 class="title title_md">Ladies yellow top</h3>
                    <div class="product-card__size-price">
                        <p class="price">$25</p>
                        <div class="product__size">
                            <p class="size desc desc_md">L</p>
                            <p class="size desc desc_md">S</p>
                            <p class="size desc desc_md">XL</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</body>
</html>