<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="header__content wrap">
            <a href="#">
                <img src="logo.svg" alt="logo" class="logo">
            </a>
            <nav>
                <ul class="nav__list">
                    <li class="nav_item"><a href="#main">Home</a></li>
                    <li class="nav_item"><a href="#">About</a></li>
                    <li class="nav_item"><a href="#">Shop</a></li>
                    <li class="nav_item"><a href="#">Page</a></li>
                    <li class="nav_item"><a href="#">Blog</a></li>
                    <li class="nav_item"><a href="#">Contact</a></li>
                </ul>
            </nav>
            <div class="hrader__icon">
                <a href="#"><img src="search.svg" alt="search"></a>
                <a href="#"><img src="person.svg" alt="profil"></a>
                <a href="#"><img src="cart.svg" alt="cart"></a>
            </div>
        </div>
    </header>
    <div class="product-info">
        <div class="product-info__content wrap">
            <div class="product-info__img">
                <img src="product.jpg" alt="product">
                <div class="tag">
                    <div class="tag_sale">TOP</div>
                    <div class="tag_hot">SALE</div>
                </div>
            </div>
            <div class="product-info__desc">
                <h1 class="title title_lg"> Ladies yellow top</h1>
                 <div class="product-card__reviews">
                    <div class="product-card__stars">
                        <img src="star_t.svg" alt="star_true">
                        <img src="star_t.svg" alt="star_true">
                        <img src="star_t.svg" alt="star_true">
                        <img src="star_t.svg" alt="star_true">
                        <img src="star_t.svg" alt="star_true">
                    </div>
                    <p class="desc desc_md">4 Reviews</p>
                </div>
                <p class="desc desc_big">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa uis aute irure dolor</p>
                <div class="product-card__size-price">
                <p class="price">$25</p>
                <div class="product__size">
                    <p class="size desc desc_md">L</p>
                    <p class="size desc desc_md">S</p>
                    <p class="size desc desc_md">XL</p>
                </div>
            </div>
            </div>
        </div>
    </div>
     <footer class="footer">
        <div class="footer__content wrap">
            <div class="footer__info">
                <img src="logo.svg" alt="logo" class="footer__logo">
                <p class="desc desc_lg">Quis nostrud exercitatin ullamc boris nisi ut aliquip ex ea commodo conse.</p>
            </div>
            <div class="footer__contact">
                <h3 class="title title_md">Address</h3>
                <ul class="footer-contacts__list">
                    <li class="footer-contacts__item"><img src="map.svg" alt="map"><a href="#">20, Awesome Road, New York, Usa 4D BS3</a></li>
                    <li class="footer-contacts__item"><img src="phone.svg" alt="phone"><a href="#">+123 456 7890</a></li>
                    <li class="footer-contacts__item"><img src="mail.svg" alt="email"><a href="#">hello@ulina.com</a></li>
                </ul>
            </div>
            <div class="footer__pages">
                <h3 class="title title_md">Usful Links</h3>
                <ul class="footer-pages__list">
                    <li class="footer-pages__item"><a href="">Shop Cupon</a></li>
                    <li class="footer-pages__item"><a href="">About Us</a></li>
                    <li class="footer-pages__item"><a href="">Carrer</a></li>
                    <li class="footer-pages__item"><a href="">Supports</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>